@model IEnumerable<Student>

@{
    ViewData["Title"] = "Index";
}

<h3>Students List</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => student.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(model => student.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => student.Email)
                </td>
            </tr>
        }
    </tbody>
</table>