@model IEnumerable<Staff>

@{
    ViewData["Title"] = "Index";
}

<h3>Staff List</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(staffMember => staff.StaffID)
                </td>
                <td>
                    @Html.DisplayFor(staffMember => staff.Name)
                </td>
                <td>
                    @Html.DisplayFor(staffMember => staff.Email)
                </td>
            </tr>
        }
    </tbody>
</table>