@model IEnumerable<Room>

@{
    ViewData["Title"] = "Rooms";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => room.RoomID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@room.RoomID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@room.RoomID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@room.RoomID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>