@model ASR_Web.Models.SlotViewModels.SlotIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form asp-controller="Slots" asp-action="Index" method="get">
    <p>
        Room Select:
        <select asp-for="RoomSelect" asp-items="Model.Rooms">
            <option value="">All</option>
        </select>
        | Staff Select:
        <select asp-for="StaffSelect" asp-items="Model.Staff">
            <option value="">All</option>
        </select>
        | Student Select:
        <select asp-for="StudentSelect" asp-items="Model.Students">
            <option value="">All</option>
            <option value="FreeSlot">Free Booking</option>
        </select>
        | 
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Room ID
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Staff ID
            </th>
            <th>
                Booking
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var slot in Model.Slots)
        {
        <tr>
            <td>
                @Html.DisplayFor(slotItem => slot.RoomID)
            </td>
            <td>
                @slot.StartTime.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(slotItem => slot.StartTime.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(slotItem => slot.StaffID)
            </td>

            <td>
                @Html.DisplayFor(slotItem => slot.StudentID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { RoomID = slot.RoomID, StartTime = slot.StartTime.ToString("s") }) |
                @Html.ActionLink("Details", "Details", new { RoomID = slot.RoomID, StartTime = slot.StartTime.ToString("s") }) |
                @Html.ActionLink("Book", "Book", new { RoomID = slot.RoomID, StartTime = slot.StartTime.ToString("s") }) |
                @Html.ActionLink("Delete", "Delete", new { RoomID = slot.RoomID, StartTime = slot.StartTime.ToString("s") })
                @Html.IdForModel()
            </td>
        </tr>
        }
    </tbody>
</table>