@model IEnumerable<ASR_Web.Models.Slot>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*@section entryHeader {
    <div class="entry-header">
        <div class="container">
            <h3>All Movies</h3>
            @if (User.IsInRole("staff"))
        {
            <p>@{ Html.RenderPartial("_AddSlot", new Slot()); }</p>
        }
        </div>
    </div>
}*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var slot in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(slotItem => slot.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(slotItem => slot.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(slotItem => slot.StaffID)
                </td>

                <td>
                    @Html.DisplayFor(slotItem => slot.StudentID)
                </td>
                <td>
                    @* Currently Bugged, need to figure out how to route to a direct item... *@
                    <a asp-action="Edit" asp-route-id="@slot.">Edit</a> |
                    <a asp-action="Details" asp-route-id="@slot.RoomID, @slot.StartTime">Details</a> |
                    <a asp-action="Book" asp-route-id="@slot.RoomID">Book</a> |
                    <a asp-action="Delete" asp-route-id="@slot.GetHashCode()">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>