@model IEnumerable<ASR_Web.Models.Slot>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*@section entryHeader {
    <div class="entry-header">
        <div class="container">
            <h3>All Movies</h3>
            @if (User.IsInRole("staff"))
        {
            <p>@{ Html.RenderPartial("_AddSlot", new Slot()); }</p>
        }
        </div>
    </div>
}*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var slot in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(slotItem => slot.RoomID)
            </td>
            <td>
                @slot.StartTime.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(slotItem => slot.StartTime.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(slotItem => slot.StaffID)
            </td>

            <td>
                @Html.DisplayFor(slotItem => slot.StudentID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { RoomID = slot.RoomID, StartTime = slot.StartTime.ToString("s") }) |
                @Html.ActionLink("Details", "Details", new { RoomID = slot.RoomID, StartTime = slot.StartTime.ToString("s") }) |
                @Html.ActionLink("Book", "Book", new { RoomID = slot.RoomID, StartTime = slot.StartTime.ToString("s") }) |
                @Html.ActionLink("Delete", "Delete", new { RoomID = slot.RoomID, StartTime = slot.StartTime.ToString("s") })
                @Html.IdForModel()
            </td>
        </tr>
        }
    </tbody>
</table>